<%= semantic_form_for @event do |f| %>
  <%= f.inputs %>
  <div class="field">
	Suggested Restaurants<br/>
	<% Restaurant.all.each do |restaurant| %>
    <%= check_box_tag :restaurant_ids, restaurant.id, @event.restaurants.include?(restaurant), :name => 'event[restaurant_ids][]' %><%= restaurant.name %>
    <br/>
	<% end %>
  </div>
  <%= f.actions do %>
    <%= f.action :submit, :button_html => { :class => "btn" } %>
  <% end %>
<% end %>
