<p id="notice"><%= notice %></p>

<h2><%= @event.name %></h2>
<h3><%= @event.date %></h3>

<b>Suggested Restaurants</b><br/>
	<% for restaurant in @event.restaurants %>
		<%= restaurant.name %>
		<br/>
	<% end %>
<br/><br/>

<b>Suggest Restaurants</b><br/>
<%= semantic_form_for :restaurants, :url =>create_suggestions_event_url(@event), :html => {:method => :post}  do |f| %>
	<%= f.inputs do %>	
		<%= f.input :restaurants, :as => :check_boxes, :collection => Restaurant.all %> 
	<%end%>
	<%= f.action :submit %>
<%end%>
<br/><br/>

<% if current_user.role == "Admin" %>
<%= link_to 'Edit', edit_event_path(@event) %>
<% end %>
<%= link_to "Rank", rank_event_url(@event), :class => 'btn btn-primary'%>
<%= link_to 'Back', events_path, :class => 'btn btn-primary' %>
