<h1>Listing restaurants</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= link_to restaurant.name, restaurant%></td>
    <td><%= restaurant.address %></td>
	<% if current_user.role == "Admin" %>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant), :class => 'btn-mini btn-primary'  %></td>
    <td><%= link_to 'Delete', restaurant, confirm: 'Are you sure?', method: :delete, :class => 'btn-mini btn-primary'  %></td>
	<%end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant', new_restaurant_path %>
