<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Group Event</a>
      <div class="nav-collapse">
        <ul class="nav">
			<%= nav_link("Home", '/' ) %>
			<%= nav_link("Restaurants", restaurants_path) %>
			<% if current_user && current_user.role == "Admin" %>
			<%= nav_link("Users", users_path) %>
			<% end %>
		</ul>
		<ul class="nav" style="float:right;">
			<% if current_user %>
			<li style="color:white; padding:10px"><%= current_user.email %></li>
			<%= nav_link("Logout", logout_path) %>
			<% else %>
			<%= nav_link("Sign up", new_user_path)%>
			<%= nav_link("Login", users_path) %>
			<% end %>				
       	</ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
